.jumbotron{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px black;
    background-image: url(../images/MetalGearCollage.jpg);
    background-repeat: repeat;
    background-size: 7cm;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 100px;
    font-weight: bold;
    

}

/* div {
    background-color: blue;
} */

h2{
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    border: solid white thick;
    margin-left: 25%;
    margin-right: 25%;
}

body {
    background-image: url(../images/webb-dark.png);
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    float: left;
    margin-left: 25%;
    margin-top: 20px;
    

}

p.message {
    float: left;
}
